
$color-primary-0: #AA8139;	// Main Primary color */
$color-primary-1: #FFE2AF;
$color-primary-2: #E1B973;
$color-primary-3: #735012;
$color-primary-4: #3C2600;

$color-secondary-1-0: #3C3176;	// Main Secondary color (1) */
$color-secondary-1-1: #9A91C7;
$color-secondary-1-2: #64599C;
$color-secondary-1-3: #1F1550;
$color-secondary-1-4: #0B052A;

$color-secondary-2-0: #246C60;	// Main Secondary color (2) */
$color-secondary-2-1: #82BDB3;
$color-secondary-2-2: #498F83;
$color-secondary-2-3: #0B493F;
$color-secondary-2-4: #002620;