.game, .game-list-menu {
    padding:10px;
    background-color:$color-secondary-1-4;
}
.game{
    margin-bottom:10px;
    cursor:pointer;

    &:hover{
        background-color:$color-secondary-1-3;
    }
}

.game-option{
    cursor:pointer;
    &:hover{
        .label{
            text-decoration:underline;
        }
    }
}

.game-header{
    display:flex;
    flex-wrap:wrap;

    .game-name{
        font-size:18px;
        font-weight:bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        flex:40%;
    }
    .game-header-details{
        flex:0 0 360px;
        display:flex;

        .game-participant-count{
            font-size:14px;
            flex: 0 0 80px;
        }

        .game-status{
            font-size:14px;
            flex: 0 0 80px;
        }
        .game-options{
            flex: 0 0 200px;
            text-align:right;
        }
    }
}

.game-list{
    flex-grow:1;
}

.game-window{
    flex-grow:1;
    display:flex;
    flex-direction:column;
}

.participant{
    display:inline-flex;
}